# Firebase configuration for Vite
VITE_FIREBASE_API_KEY=AIzaSyCexRZJvNyigAVq-Wbdgo0rKkftqfh5Tik
VITE_FIREBASE_AUTH_DOMAIN=intense-context-412513.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=intense-context-412513
VITE_FIREBASE_STORAGE_BUCKET=intense-context-412513.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=94616618805
VITE_FIREBASE_APP_ID=1:94616618805:web:7f007fc03f3c704ad0ae7c
VITE_FIREBASE_MEASUREMENT_ID=G-H8G0T5DN2L
# Admin Google account allowed to approve testimonials
VITE_FIREBASE_ADMIN_EMAIL=adithyang24@gmail.com

